.estrelas-avaliacao {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.estrelas-avaliacao input {
    display: none;
}

.estrelas-avaliacao label {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
}

.estrelas-avaliacao input:checked ~ label,
.estrelas-avaliacao input:checked ~ label ~ label,
.estrelas-avaliacao label:hover,
.estrelas-avaliacao label:hover ~ label {
    color: #ffc107;
}